html {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/* Navigation bar with logo and links */

nav {
    display: flex;
    max-width: 1300px;
    padding: 0px 30px;
    margin: auto;
    
}

.reservia-logo {
    padding-top: 30px;
    max-width: 100px;  
}

#accommodations-link {
    margin-left: auto;
    margin-right: 15px;
}

#activities {
    margin: 0px 15px;
}

#sign-up {
    margin: 0px 15px 0px 20px;
    color: #0065FC;
    font-weight: bold;
    border-top:#0065FC 2px solid;
}

.bar-buttons {
    color: black;
    text-decoration: none;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.bar-buttons:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* Header and paragraph */

header {
    max-width: 1300px;
    padding: 0px 30px;
    margin: auto;
    margin-top: 40px;   
}

header>h2 {
    font-weight: bold;
    margin-bottom: -10px;
}

p {
    font-size: 17px;
}

/* Search field */

.search-box {
    margin-top: 20px;
    display: inline-flex;
    max-width: 700px;
    height: 47px;
}

.location-icon {
    font-size: 9px;
    width: 17px;
    padding: 15px 16px 14px 19px;
    background-color: #F2F2F2;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    max-width: 500px;
    color: black;
    font-size: 19px;
    font-weight: 400;
    padding-left: 10px;
    
}

::placeholder {
    color: black;
    font-size: 20px;
    padding-top: 5px;
    font-weight: 700;
    padding-left: -10px;
}

.city-search-button {
    display: block;
    padding: 13px 20px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    font-size: 19px;
    cursor: pointer;
}

.city-search-button-mobile {
    display: none;
}

/* Filters buttons */

.filters-border {
    padding: 10px 10px 10px 30px;
}

.filters-main-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
    max-width: 1000px;
}

.filters-head-text {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    padding-top: 3px;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
}

.money-icon::before {
    color: #0065FC;
    padding: 0px 2px 0px 2px;
}

.child-icon::before {
    color: #0065FC;
    padding: 2px 4px 0px 4px;
}

.child-icon {
    padding: 2px 0px 0px 0px;
}

.heart-icon {
    color: #0065FC;
    padding: 1px 1.33px 0px 1.33px;
    margin: 2px 0px 0px 0px;
}

.filters-buttons {
    display: flex;
    border: 2px solid #7e7e7e4b;
    border-left: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    
}

.filters-text:hover {
    color: #0065FC;
}

.filters-buttons:hover {
    background-color:#F2F2F2;
    border-top-color: #0065FC;
    border-bottom-color: #0065FC;
    border-right-color: #0065FC;
}


.filters-icon-container {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -25px;
    padding: 17px 15px;
    background-color: #DEEBFF;
    border-radius: 35px;
    
}

#filters-icons {
    color: #0065FC;
}

.filters-text {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 13.5px 25px 10px 15px; 
}

/* Observation field */

.obs-container {
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}

#obs-icon {
    color: #0065FC;
    padding: 18px 20px 20px 0px;
}

/* Normal and most popular accommodations cards section */

.accommodations-section {
    max-width: 1300px;
    padding: 0px 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;   
}

.accommodations-section>h3 {
    display: none;
}

/* Normal Accommodations sections and cards */

.accommodations-main-container {
    background-color: #F2F2F2;
    border-radius: 17px;
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.cards-container-title {
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0px 10px 35px;
    margin: 0px 0px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 0px 35px;
    flex-wrap: wrap;
}

.accommodations-cards {
    border-radius: 17px;
    background-color: white;
    margin: 15px 5px;
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

a.accommodations-cards, a.most-popular-accommodations-cards, a.activity-cards {
    text-decoration: none;
    color: black;
}

.accommodations-cards-image {
    width: 230px;
    height: 110px;
    padding: 5px 5px 0px 5px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    object-fit: cover;
}

.accommodations-details-container {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

span {
    font-size: 12px;
    color: #F2F2F2;
}

.checked {
    color: #0065FC;
    
}

.accommodations-details-container div:nth-child(1) {
    font-weight: bold;
    margin: 5px 0px;
}

.accommodations-details-container div:nth-child(2) {
    margin: 5px 0px;
}

.show-more {
    font-size: 16px;
    font-weight: bolder;
    padding: 20px 0px 40px 30px;
}

/* Most popular accommodations sections and cards */

.most-popular-accommodations-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    max-width: 30%;
    min-width: 340px;
    background-color: #F2F2F2;
    border-radius: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.most-popular-accommodations-container>h3 {
    display: none;
}

.accommodations-heading-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 0px;
    
}

.most-popular-icon {
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0px 10px 35px;
}

.most-popular-cards-container {
    display: flex;
    flex-direction: column;
}


.most-popular-accommodations-cards {
    display: flex;
    align-self: center;
    border-radius: 17px;
    margin: auto;
    background-color: white;
    width: 85%;
    min-width: 300px;
    height: 130px;
    margin: 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    
}

.most-popular-accommodations-image {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    padding: 5px 5px 0px 5px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    object-fit: cover;

}

.most-popular-accommodations-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 14px;
}

/* Activities section styles */

.activities-section {
    max-width: 1300px;
    padding: 0px 30px;
    margin: 30px auto;
}

.activities-section>h3 {
    display: none;
}


.activities-container {
   display: grid;
   grid-auto-flow: column;
   max-height: 430px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: repeat(7, 1fr);
   grid-gap: 35px;
   max-width: 100%;
}

.activities-cards-container-title {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px;
}

.activity-img-one {
    object-fit: cover;
    width: 301px;
    height: 375px;
    object-position: 60% 40%;
}

.activity-img-two {
    object-fit: cover;
    width: 301px;
    height: 176px;
    object-position: 60% 40%;
    
}

.activity-img-three {
    object-fit: cover;
    width: 301px;
    height: 109px;
    object-position: 70% 20%;
    
}

.activity-img-four {
    object-fit: cover;
    width: 301px;
    height: 375px;
    object-position: 50% 100%;
}

.activity-img-five {
    object-fit: cover;
    width: 301px;
    height: 109px;
    object-position: 60% 20%;
}

.activity-img-six {
    object-fit: cover;
    width: 301px;
    height: 176px;
    object-position: center;
}

.activities-subtitle {
    max-width: auto;
    font-size: 100%;
    font-weight: bold;
    text-align: start;
    padding: 17px 0px 15px 15px;   
}

#activity-one {
    grid-column: 1 / 2;
    grid-row: 1 / 8;   
}

#activity-two {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

#activity-three {
    grid-column: 2 / 3;
    grid-row: 5 / 8;
}

#activity-four {
    grid-column: 3 / 4;
    grid-row: 1 / 8;
}

#activity-five {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

#activity-six {
    grid-column: 4 / 5;
    grid-row: 4 / 8;
}

.activity-cards {
    width: auto;
    max-width: 300px;
    overflow: hidden;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(87, 46, 46, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    
}

/* footer container styles */


footer {
    margin-top: 60px;
    background-color: #F2F2F2;
    width: 100%;
}

.footer-container {
    padding: 20px 30px;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    width: auto;
    background-color: #F2F2F2;
    
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-right: 20px;
}

.footer-links-container>a {
    margin: 5px 0px;
}



@media all and (max-width: 520px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 100%; 
        padding: 0px 0px;
        margin: 0px;
       
    }

    .reservia-logo {
        padding-top: 25px;
        padding-left: 25px;
        grid-column: 1 /2;
        grid-row: 1 / 2;
    }

    #accommodations-link {
        padding-top: 20px;
        padding-bottom: 13px;
        margin-right: 0px;
        margin-left: 0px;
        border-bottom: 3px solid #F2F2F2;
        align-self: center;
        text-align: center;
        font-size: 16px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }

    #activities {
        padding-top: 20px;
        padding-bottom: 13px;
        margin-right: 0px;
        margin-left: 0px;
        border-bottom: 3px solid #F2F2F2;
        align-self: center;
        text-align: center;
        font-size: 16px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #sign-up {
        border-top: none;
    }

    #activities:hover{
        border-top: none;
        color: black;
        border-bottom: 3px solid #0065FC;
    }

    #accommodations-link:hover{
        border-top: none;
        color: black;
        border-bottom: 3px solid #0065FC;
    }

    #sign-up {
        margin-left: auto;
        margin-right: 0px;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 10px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        font-size: 17px;
        
    }

    header {
        padding: 0px 0px 0px 17px;
        width: 93%;
        max-width: 100%;
        margin: 40px 0px 0px 0px;
        
    }

    header>h2 {
        font-size: 22px;
    }

    header>p {
        font: 15px;
    }

    /* Search field */

    .city-search-button {
        display: none;
    }
    
    .city-search-button-mobile {
        display: block;
        padding: 15px 15px 13px 15px;
        background-color: #0065FC;
        color: white;
        border: none;
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;
        border-bottom-left-radius: 17px;
        border-top-left-radius: 17px;
        font-size: 17px;
        cursor: pointer;
        margin-left: -13px;
    }

    .search-box {
        height: 50px;
        width: 100%;
    }
    
    .location-icon {
        font-size: 9px;
        padding: 15px 16px 14px 19px;
        
    }
    
    input {
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        border-left: none;
        border-right: none;
        width: 100%;
        color: black;
        font-size: 19px;
        font-weight: lighter;
        padding-left: 10px;
        
    }
    
    ::placeholder {
        color: black;
        font-size: 18px;
        padding-top: 5px;
        font-weight: bold;
        padding-left: -10px;
    }

    /* Filters */

    .filters-main-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .filters-head-text {
        margin-bottom: 5px;
    }

    #low-cost {
        order: 1;
    }

    #family-friendly {
        order: 3;
    }

    #romantic{
        order: 2;
    }

    #pets-allowed {
        order: 4;
    }
   
    .filters-text {
        font-size: 16px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 10px;
    }

    /* Accommodations Section */

    .accommodations-section {
        max-width: 100%;
        flex-direction: column;
        padding: 0px 0px;
    }

    /* Most popular accommodations section */

    .most-popular-accommodations-container {
        max-width: 100%;
        width: 100%;
        order: 1;
        border-radius: 0px;
        margin-bottom: 10px;
        margin-right: 0px;
        padding-right: 0px;
        min-width: 0px;
    }

    #most-popular-last-card {
        margin-bottom: 30px;
    }

    #most-popular-cards-container-title {
        padding-top: 40px;
        max-width: 100%;
    }
    
    .cards-container-title {
        font-size: 20px;
    }

    .most-popular-accommodations-cards {
        max-width: 90%;
        min-width: 0px;
    }

    .most-popular-accommodations-details-container {
        width: 100%;
    }


    /* Accommodations container */

    .accommodations-main-container {
        max-width: 100%;
        width: 100%;
        order: 2;
        background-color: white;
        margin-top: 10px;
        

    }

    .cards-container-title {
        max-width: 100%;
        padding-top: 10px;
        padding-left: 25px;
    }

    .cards-container {
        max-width: 100%;
        flex-direction: column;
        padding: 0px 20px;
    }

    .accommodations-cards{
        max-width: 100%;
    }

    .accommodations-cards-image {
        max-width: 100%;
        width: 97%;
        text-align: center;
    }

    .show-more {
        padding-bottom: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    /* Activities container */

    .activities-section {
        margin-top: 0px;
        padding: 0px 20px;
    }

    .activities-container {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
       max-height: max-content;
       width: 100%;
    }

    .activities-cards-container-title {
        font-size: 20px;
    }

    .activity-cards {
        height: 180px;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    #activity-one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;   
    }
    
    #activity-two {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    #activity-three {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #activity-four {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    #activity-five {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    
    #activity-six {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    /* Activity images */

    .activity-img-one {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 60% 40%;
    }
    
    .activity-img-two {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 10%; 
    }
    
    .activity-img-three {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 70% 20%;   
    }
    
    .activity-img-four {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 50% 100%;
    }
    
    .activity-img-five {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 60% 20%;
    }
    
    .activity-img-six {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: center;
    }

    /* Footer */

    .footer-container {
        flex-direction: column;
        max-width: 100%;
        padding: 20px 20px;
    }

    .footer-links-container>h3 {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .footer-links-container>p {
        margin: 10px 0px;
        font-size: 15px;
        width: 100%;
    }

    .footer-links-container {
        margin-right: 10px;
        margin-bottom: 30px;
    }
    
}

/* Setting for Ipad */

@media all and (min-width: 521px) and (max-width: 1250px) {
    .accommodations-section {
        flex-direction: column;
    }

    .accommodations-main-container {
        order: 2;
        margin: auto;
    }


    .most-popular-accommodations-container {
        order: 1;
        max-width: 900px;
        margin: auto;
        width: 100%;
        margin-bottom: 40px;
    }

    .most-popular-cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px 35px;
        margin-bottom: 15px;
        
        
    }

    .most-popular-accommodations-cards {
        display: flex;
        flex-direction: column;
        border-radius: 17px;
        background-color: white;
        margin: 15px 5px;
        max-width: 240px;
        min-width: 100px;
        height: auto;
        width: 100%;
    }

    .most-popular-accommodations-details-container {
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        width: 100%;
    }

    #title-too-long {
        font-size: 0.9em;
    }

    .most-popular-accommodations-details-container div:nth-child(1) {
        margin: 5px 0px;
    }
    .most-popular-accommodations-details-container div:nth-child(2) {
        margin: 5px 0px;
    }

    .most-popular-accommodations-image {
        max-width: 96%;
        padding: 5px 5px 0px 5px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        border-bottom-left-radius: 0px;
        object-fit: cover;
    }
}

@media all and (min-width: 521px) and (max-width: 1064px) {
    .activities-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-height: max-content;
        width: 100%;
    }

    .activity-cards {
        height: 180px;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    #activity-one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;   
    }
    
    #activity-two {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #activity-three {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    #activity-four {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    #activity-five {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #activity-six {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .activity-img-one {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 60% 40%;
    }
    
    .activity-img-two {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 10%; 
    }
    
    .activity-img-three {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 70% 20%;   
    }
    
    .activity-img-four {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 50% 100%;
    }
    
    .activity-img-five {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: 60% 20%;
    }
    
    .activity-img-six {
        object-fit: cover;
        width: 100%;
        height: 130px;
        object-position: center;
    }

}

