html {
    margin-left: 40px;
    margin-right: 40px;
}

body {
    max-width: 1300px;
    margin: auto;
    font-family: 'Raleway';
}

nav {
    display: flex;
}

header {
    margin-top: 40px;
    
}

#reservia-logo {
    padding-top: 25px;
    max-width: 100px;  
}

.accommodations-link {
    margin-left: auto;
    margin-right: 25px;
}

.activities {
    margin: 0px 25px;
}

.sign-up {
    margin: 0px 50px 0px 25px;
    color: #0065FC;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
    padding-top: 35px;
}

#buttons:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

h2 {
    margin-bottom: -10px;
}

p {
    font-size: 17px;
}

.search-box {
    box-sizing: border-box;
    margin-top: 10px;
    display: inline-flex;
    width: 250pxpx;
    height: 47px;
}

.location-icon {
    font-size: 8px;
    width: 17px;
    padding: 15px 16px 14px 19px;
    background-color: #F2F2F2;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    width: 240px;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    padding-left: 10px;
    
}

::placeholder {
    color: black;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 544;
    padding-left: -10px;
}

#city-search-button {
    padding: 13px 20px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    font-size: 18px;
    cursor: pointer;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
    max-width: 900px;
    box-sizing: border-box;   
}
.money-icon::before {
    color: #0065FC;
    padding: 0px 2px 0px 2px;
}

.child-icon::before {
    color: #0065FC;
    padding: 2px 4px 0px 4px;
}

.child-icon {
    padding: 2px 0px 0px 0px;
}

.heart-icon {
    color: #0065FC;
    padding: 1px 1.33px 0px 1.33px;
    margin: 2px 0px 0px 0px;
}

#filters-head-text {
    font-size:  17px;
    font-weight: bolder;
    margin-right: 20px;
}

.filters-buttons {
    display: flex;
    border: 2px solid #7e7e7e4b;
    border-left: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    
}

.filters-text:hover {
    color: #0065FC;
}

.filters-icon-container {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -25px;
    padding: 17px 15px;
    background-color: #DEEBFF;
    border-radius: 35px;
    
}

#filters-icons {
    color: #0065FC;
}

.filters-text {
    font-size: 17px;
    font-weight: bolder;
    padding: 13.5px 25px 10px 15px; 
    
}

.obs-container {
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}

#obs-icon {
    color: #0065FC;
    padding: 18px 20px 20px 0px;
}

.accommodations-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.accommodations-in-location-container {
    background-color: #F2F2F2;
    border-radius: 17px;
    max-width: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.accommodations-in-title {
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0px 10px 35px;
}

.accommodations-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;
    flex-wrap: wrap;
}

.accommodations {
    border-radius: 17px;
    background-color: white;
    max-width: 250px;
    margin: 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accommodations-image {
    width: 230px;
    height: 110px;
    padding: 5px 5px 0px 5px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    object-fit: cover;

}

.accommodations-details-container {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

span {
    font-size: 12px;
    color: #F2F2F2;
}

.checked {
    color: #0065FC;
    
}

.accommodations-details-container div:nth-child(1) {
    font-weight: bold;
    margin: 5px 0px;
}

.accommodations-details-container div:nth-child(2) {
    margin: 5px 0px;
}

#show-more {
    font-size: 16px;
    font-weight: bolder;
    padding: 20px 0px 40px 30px;
}

.most-popular-accommodations-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    min-width: 370px;
    background-color: #F2F2F2;
    border-radius: 17px;
    max-width: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accommodations-in-title-container {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
}

.most-popular-icon {
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0px 10px 35px;
}


.most-popular-accommodations {
    display: flex;
    align-self: center;
    border-radius: 17px;
    margin: auto;
    background-color: white;
    width: 300px;
    height: 130px;
    margin: 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.most-popular-accommodations-image {
    min-width: 120px;
    height: 120px;
    padding: 5px 5px 0px 5px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    object-fit: cover;

}

.most-popular-accommodations-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    font-size: 14px;
}

/* Activities scetion styles */

.activities-section {
    max-height: 500px;
    margin: 30px 0px;
}


.activities-container {
   display: grid;
   grid-auto-flow: column;
   max-height: 450px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-gap: 35px;
}

.activities-in-title {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.activity-img-one {
    object-fit: none;
    width: 300px;
    height: 400px;
}

.activity-img-two {
    object-fit: none;
    width: 300px;
    height: 200px;
    
}

.activity-img-three {
    object-fit: none;
    width: 300px;
    height: 110px;
    
}

.activity-img-four {
    object-fit: none;
    width: 300px;
    height: 400px;
    object-position: center;
}

.activity-img-five {
    object-fit: none;
    width: 300px;
    height: 110px;
    
    object-position: 60% 20%;
}

.activity-img-six {
    object-fit: none;
    width: 300px;
    height: 200px;
    object-position: center;
}

.activities-subtitle {
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    padding: 13px 0px 15px 15px;   
}

.activity-one {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    
    
}

.activity-two {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.activity-three {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

.activity-four {
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}

.activity-five {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.activity-six {
    grid-column: 4 / 5;
    grid-row: 3 / 6;
}

#activity {
    width: auto;
    min-width: 300px;
    overflow: hidden;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}








